<div class="modal-container">
  <div class="modal-header">
    <h2>Criar Hábito</h2>
    <button (click)="closeModal()">X</button>
  </div>

  <form #form="ngForm" (ngSubmit)="createHabit()">
    <label>Como deseja marcar o progresso?</label>
    <div class="radio-group">
      <label>
        <input
          type="radio"
          name="progressType"
          value="yes_no"
          [(ngModel)]="progressType"
          required
          #progressTypeModel="ngModel"
        />
        Sim ou Não
      </label>
      <label>
        <input
          type="radio"
          name="progressType"
          value="time"
          [(ngModel)]="progressType"
        />
        Tempo cronometrado
      </label>
      <label>
        <input
          type="radio"
          name="progressType"
          value="times"
          [(ngModel)]="progressType"
        />
        Vezes realizadas
      </label>
    </div>

    <hr />

    <label>Nome do Hábito</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="habit.name"
      required
      #name="ngModel"
    />

    <label>Categoria</label>
    <select name="categoria" [(ngModel)]="habit.category" required>
      @for (cat of categories; track categories) {
      <option [value]="cat.id">{{ cat.displayName }}</option>
      }
    </select>

    @if(progressType === 'time') {

    <div>
      <label>Regra de Conclusão</label>
      <select [(ngModel)]="habit.timeTarget!.rule" name="progressRule" required>
        <option value="at_least">Ao menos</option>
        <option value="any">Qualquer tempo</option>
        <option value="equal">Exatamente</option>
        <option value="at_most">Menos que</option>
      </select>
    </div>

    <label>Determine o tempo</label>
    <div class="time-inputs">
      <input
        type="number"
        [(ngModel)]="habit.timeTarget!.hours"
        name="durationHours"
        min="0"
        max="23"
        placeholder="Horas"
      />
      <input
        type="number"
        [(ngModel)]="habit.timeTarget!.minutes"
        name="durationMinutes"
        min="0"
        max="59"
        placeholder="Minutos"
      />
      <input
        type="number"
        [(ngModel)]="habit.timeTarget!.seconds"
        name="durationSeconds"
        min="0"
        max="59"
        placeholder="Segundos"
      />
    </div>
    } @if(progressType === 'times') {
    <div>
      <label>Regra de Conclusão</label>
      <select
        [(ngModel)]="habit.timesTarget!.rule"
        name="progressRule"
        required
      >
        <option value="at_least">Ao menos</option>
        <option value="any">Qualquer valor</option>
        <option value="equal">Exatamente</option>
        <option value="at_most">No máximo</option>
      </select>

      @if(habit.timesTarget!.rule !== 'any') {
      <label>Quantas vezes?</label>
      <input
        type="number"
        name="targetValue"
        [(ngModel)]="habit.timesTarget!.value"
        min="1"
        required
      />
      }
    </div>
    }

    <label>Dias da Semana</label>

    <div class="days-checkboxes">
      @for (day of daysOfWeek; track day) {
      <label>
        <input
          type="checkbox"
          [value]="day"
          (change)="toggleDay(day)"
          [checked]="habit.days.includes(day)"
        />
        {{ day }}
      </label>
      }
    </div>

    <label>Descrição</label>
    <textarea [(ngModel)]="habit.description" name="description"></textarea>

    <label>Prioridade</label>
    <div class="radio-group">
      <label
        ><input
          type="radio"
          name="priority"
          value="low"
          [(ngModel)]="habit.priority"
          required
          #priority="ngModel"
        />
        Baixa</label
      >
      <label
        ><input
          type="radio"
          name="priority"
          value="medium"
          [(ngModel)]="habit.priority"
        />
        Média</label
      >
      <label
        ><input
          type="radio"
          name="priority"
          value="medium-high"
          [(ngModel)]="habit.priority"
        />
        Média-Alta</label
      >
      <label
        ><input
          type="radio"
          name="priority"
          value="high"
          [(ngModel)]="habit.priority"
        />
        Alta</label
      >
    </div>

    <div class="modal-footer">
      <button type="button" (click)="closeModal()">Cancelar</button>
      <button
        type="submit"
        [disabled]="form.invalid || habit.days.length === 0"
      >
        Criar
      </button>
    </div>
  </form>
</div>
