<ion-content>
  <ion-grid class="grid-container">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <div class="recover-password">
          <header>
            <h3>HabitTracker</h3>
            <div class="icon-back" [routerLink]="'/login'">
              <img
                src="./assets/icon/left.svg"
                alt="Voltar"
                width="16px"
              />
            </div>
          </header>
          <main>
            @if (step === 'email') {
            <div class="text-container">
              <h1>Recupere sua senha</h1>
              <p>
                Informe seu e-mail abaixo e enviaremos um link para redefinir
                sua senha.
              </p>
            </div>
            <div class="input-container">
              <label for="email">Email</label>
              <div class="input-wrapper">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Digite seu email"
                  [(ngModel)]="email"
                />
              </div>
            </div>
            <button (click)="sendEmail()">Enviar Email</button>
            <div class="text-container">
              <p>
                Não possui uma conta?
                <a [routerLink]="'/signup'">Cadastre-se</a>
              </p>
            </div>
            } @if (step === 'reset') {
            <div class="text-container">
              <h1>Redefina sua senha</h1>
              <p>Deve ter pelo menos 8 caracteres</p>
            </div>
            <div class="input-container">
              <label for="password">Nova Senha</label>
              <div class="input-wrapper">
                <input
                  type="password"
                  name="password"
                  placeholder="*********"
                  [type]="passwordFieldType"
                  [(ngModel)]="password"
                />
              </div>
              <label for="confirmPassword">Confirmar Senha</label>
              <div class="input-wrapper">
                <input
                  type="password"
                  name="confirmPassword"
                  placeholder="*********"
                  [type]="passwordFieldType"
                  [(ngModel)]="confirmPassword"
                />
              </div>
            </div>
            <button (click)="resetPassword()">Redefinir Senha</button>
            } @if (step === 'done') {
            <div class="text-container">
              <h1>Pronto! Sua senha foi redefinida</h1>
              <p>
                 <a [routerLink]="'/login'">Faça login</a> e continue
                aproveitando sua conta.
              </p>
            </div>
            }
          </main>
          <footer>
            <div class="step-indicator">
              <div class="circle" [class.current]="step === 'email'"></div>
              <div class="circle" [class.current]="step === 'reset'"></div>
              <div class="circle" [class.current]="step === 'done'"></div>
            </div>
          </footer>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
