ion-content {
    .grid-container {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .recover-password {
        height: min-content;
        background-color: white;
        border-radius: 20px;
        padding: 3rem 4rem;
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);

        h1 {
            font-family: poppinsBold;
            font-size: 25px;
        }

        a {
            color: rgb(224, 0, 77);
            text-decoration: none;
            cursor: pointer;
        }

        button {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            background-color: rgb(224, 0, 77);
            color: #ffffff;

            &:hover {
                background-color: rgb(209, 0, 73);
            }
        }

        header {
            padding-bottom: 1rem;
            display: flex;
            flex-direction: row;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-family: poppinsExtraBold;
                font-size: 25px;
                color: rgb(224, 0, 77);
            }
            .icon-back {
                display: flex;
                align-items: center;
                padding: 0.3rem;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-top: 1rem;

            p {
                width: 350px;
            }

            .done {
                padding-top: 3rem;
            }
        }

        .input-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            padding: 1rem 0 1rem 0;
            gap: 15px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .input-wrapper {
                input {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #d1d5db;
                    border-radius: 5px;
                    background-color: white;
                    padding-right: 40px;
                }
                input::placeholder {
                    font-family: poppinsMedium;
                    font-size: 13;
                }

                input:focus {
                    background-color: white;
                }

                .toggle-icon {
                    position: absolute;
                    right: 13px;
                    top: 53.4%;
                    transform: translateY(100%);
                    font-size: 22px;
                    cursor: pointer;
                    color: #666;
                }
            }
        }

        footer {
            .step-indicator {
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;

                .circle {
                    width: 10px;
                    height: 10px;
                    background-color: #ccc;
                    border-radius: 50%;
                }

                .current {
                    background-color: black;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .recover-password {
            height: 100vh;
            width: 100vw;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 2rem 3rem 2rem;

            header {
                padding: 0;
            }
        }
    }

    @media (max-width: 480px) {
        .recover-password {
            padding: 1rem 1rem 2rem 1rem;
        }
    }
}
