<ion-content>
  <ion-content>
    <div class="app-container">
      <app-menu></app-menu>

      <div class="main-container">
        <app-header></app-header>

        <main class="page-content">
          <div class="page-description">
            <h1>Configurações</h1>
            <p>Gerencie suas preferências, dados da conta e privacidade.</p>
          </div>
          <section>
            <div class="settings-header">
              <div class="tabs">
                <button
                  (click)="changeSection('account')"
                  [class.active]="currentSection === 'account'"
                >
                  Conta
                </button>
                <!-- <button (click)="changeSection('preferences')" [class.active]="currentSection === 'preferences'">Preferências</button> -->
                <button
                  (click)="changeSection('privacy')"
                  [class.active]="currentSection === 'privacy'"
                >
                  Privacidade
                </button>
              </div>
            </div>
            <div class="tabs-content">
              @if(currentSection === 'account') {
              <section class="account">
                <div class="tab-title">
                  <h2>Informações do Usuario</h2>
                </div>
                <div class="settings-group">
                  <div class="setting-item">
                    <div class="row">
                      <div class="title">Nome*</div>
                      <div class="info-section">
                        <input type="text" [(ngModel)]="editName" [disabled]="isDisabled" (input)="checkChanges()"/>
                      </div>
                    </div>
                     <div class="btn-edit-profile" (click)="toggleEdit()">{{ buttonText }}*</div>
                  </div>
                  <div class="setting-item">
                    <div class="row">
                      <div class="title">Email*</div>
                      <div class="info-section">
                        <p>{{ userEmail }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="edit-profile"></div>
                </div>
              </section>
              }

              <!-- <section class="preferences" *ngIf="currentSection === 'preferences'">
                <div class="tab-title">
                  <h2>Preferencias</h2>
                </div>
                <div class="settings-group">
                  <div class="setting-item">
                    <div class="row">
                      <div class="title">Tema</div>
                      <div class="options">
                        <app-toggle-theme></app-toggle-theme>
                      </div>
                    </div>
                  </div>

                  <div class="setting-item">
                    <div class="row">
                      <div class="title">Idioma</div>
                      <div class="options">
                        <p>PT / EN</p>
                        <app-switch></app-switch>
                      </div>
                    </div>
                  </div>

                  <div class="setting-item">
                    <div class="row">
                      <div class="title">Notificações por e-mail</div>
                      <div class="options">
                        <app-switch></app-switch>
                      </div>
                    </div>
                  </div>
                </div>
              </section> -->
              @if (currentSection === 'privacy') {
              <section class="privacy">
                <div class="tab-title">
                  <h2>Privacidade</h2>
                </div>
                <div class="privacy-content">
                  <p>
                    Seus dados são armazenados com segurança na nuvem,
                    vinculados à sua conta. Nenhuma informação é compartilhada
                    com terceiros. Você pode solicitar a exclusão da sua conta e
                    dados a qualquer momento clicando no botão abaixo.
                  </p>
                  <button (click)="deleteUser()">Excluir meus dados</button>
                </div>
              </section>
              }
            </div>
          </section>
        </main>
      </div>
    </div>
  </ion-content>
</ion-content>
