<ion-content id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="auto" class="menu-col" >
      <app-menu></app-menu>
      </ion-col>
      <ion-col>
        <div class="page-wrapper">
          <app-header></app-header>
          <main class="page-content">
            <section class="settings-section">
              <h2 class="section-title">Preferências Gerais</h2>
              <div class="setting-item">
                <label for="dark-mode">Modo Escuro</label>
                <input type="checkbox" id="dark-mode" />
              </div>
            </section>
          </main>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
