<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <app-menu></app-menu>
      </ion-col>

      <ion-col>
        <main>
          <app-header></app-header>
          <app-create-goal-modal
            *ngIf="mostrarModal"
            (fechar)="mostrarModal = false"
          ></app-create-goal-modal>
          <section class="header-goal">
            <div class="text">
              <h1>Transforme seus hábitos em objetivos concretoss!</h1>
              <p>
                Conecte seus esforços diários a metas reais e recompensas que
                fazem sentido pra você.
              </p>
            </div>
            <div class="create-goal">
              <div class="create-goal-card" (click)="mostrarModal = true">
                <div>
                  <img
                    src="./assets/icon/emoji_events_100dp_FFFFFF.png"
                    alt="a"
                    class="card-icon"
                  />
                  <p>Nova Meta</p>
                </div>
                <div>
                  <img
                    src="./assets/icon/add_250dp_000000.png"
                    alt=""
                    class="add-icon"
                  />
                </div>
              </div>
            </div>
          </section>
          <section class="list-goal">
            <div class="list-header">
              <h2>Lista de Metas</h2>
              <button class="filter">
                <img src="./assets/icon/tune_100dp_434343.png" alt="" />
                <p>Filters</p>
              </button>
            </div>
            <div class="goal-cards">
              <div
                class="card"
                style="background-color: rgba(253, 255, 134, 0.527)"
              >
                <div class="header-container">
                  <div class="title">'tituloa</div>
                  <div class="icon">
                    <img
                      src="./assets/icon/emoji_events_100dp_434343.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="progress-container">
                  <div class="teste">teste</div>

                  <div class="bar">
                    <div class="progress-bar"></div>
                  </div>
                  <div class="percentage">25%</div>
                </div>
                <div class="footer-container">
                  <div class="status">⏳ Em andamento</div>
                  <div class="reward">
                    Recompensa vinculada: <span>Sim</span>
                  </div>
                </div>
              </div>
              <div
                class="card"
                style="background-color: rgba(152, 255, 143, 0.507)"
              >
                <div class="header-container">
                  <div class="title">'titulo'</div>
                  <div class="icon">
                    <img
                      src="./assets/icon/emoji_events_100dp_434343.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="progress-container">
                  <div class="teste">teste</div>
                  <div class="bar">
                    <div class="progress-bar"></div>
                  </div>
                  <div class="percentage">25%</div>
                </div>
                <div class="footer-container">
                  <div class="status">✅ Concluido</div>
                  <div class="reward">
                    Recompensa vinculada: <span>Sim</span>
                  </div>
                </div>
              </div>
              <div
                class="card"
                style="background-color: rgba(255, 149, 149, 0.411)"
              >
                <div class="header-container">
                  <div class="title">'titulo'</div>
                  <div class="icon">
                    <img
                      src="./assets/icon/emoji_events_100dp_434343.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="progress-container">
                  <div class="teste">teste</div>
                  <div class="bar">
                    <div class="progress-bar"></div>
                  </div>
                  <div class="percentage">25%</div>
                </div>
                <div class="footer-container">
                  <div class="status">❌ Cancelado</div>
                  <div class="reward">
                    Recompensa vinculada: <span>Sim</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
