ion-content {
    .header-goal {
        display: flex;
        flex-direction: row;

        padding: 2rem;
        border-bottom: 1px solid #e5e7eb;
    }

    .text {
        width: 70%;
        margin-right: 20%;

        h1 {
            font-family: poppinsSemiBold;
        }
    }

    .create-goal-card {
        background-color: rgb(242, 244, 248);
        border: 1px solid #d3d3d3;
        border-radius: 16px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.2;
        width: 400px;

        &:hover {
            transform: scale(1.02);
            background-color: #2f496e;
            p {
                color: #fff;
            }
        }

        &:active {
            transform: scale(1);
        }
    }

    .card-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #e0004d;
        border-radius: 15px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .create-goal-card p {
        margin-top: 10px;
        font-family: poppinsSemiBold;
    }

    .create-goal-card .add-icon {
        width: 25px;
        height: 25px;
    }

    .list-goal {
        margin-top: 2rem;
    }

    .list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .list-header .left {
        display: flex;
        gap: 2rem;
    }

    .list-header .left h2 {
        font-family: poppinsSemiBold;
        font-size: 20px;
    }

    .list-header .left .search-bar {
        display: flex;
        align-items: center;
        background-color: rgb(242, 244, 248);
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        padding: 7px;
        gap: 5px;

        input {
            background-color: rgb(242, 244, 248);
            outline: none;
            border: none;
            width: 100%;
        }
    }

    .list-header .filter {
        display: flex;
        background-color: transparent;
        align-items: center;
        border: 1px solid #d3d3d3;
        padding: 8px;
        border-radius: 7px;
        gap: 5px;
        transition: 0.3s;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #e6e9ec;
        }

        &:active {
            transform: scale(0.94);
        }
    }

    .goal-list-cards-wrapper {
        max-width: calc(100vw - 250px);
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .goal-list-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        overflow: visible;
        gap: 24px;
        justify-content: center;
        padding: 12px;

        li {
            list-style: none;
        }

        .no-goals {
            margin-top: 2rem;
        }
    }

    @media (max-width: 1250px) {
        .goal-list-cards-wrapper {
            max-width: 100%;
        }

        .goal-list-cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .header-goal {
            padding: 1rem;
        }

        .text {
            width: 100%;
            margin: 0;
        }

        .create-goal-card {
            display: none;
        }
    }

    @media (max-width: 640px) {
        .goal-list-cards {
            grid-template-columns: 1fr;
        }
    }
}
