<div class="modal-container">
  <div class="modal-header">
    <h2>Gerenciar Listas</h2>
    <button class="close-button" type="button" (click)="closeModal()">
              <img src="./assets/icon/exit.svg" alt="x" width="18px">
    </button>
  </div>

  <div class="modal-content">
    @if (loading) {
    <div class="loading-container">
      <div class="spinner"></div>
      <p>Carregando listas...</p>
    </div>
    } @else if (lists.length === 0) {
    <div class="empty-state">
      <img
        src="./assets/icon/create_new_folder_50dp_FFFFFF.png"
        alt="Nenhuma lista"
        class="empty-icon"
      />
      <p>Você ainda não tem nenhuma lista</p>
      <!-- <button class="create-button" (click)="closeModal()">Criar Lista</button> -->
    </div>
    } @else if (lists.length >= 1) {
    <div class="lists-container">
      @for (list of lists; track list.id) {
      <div class="list-item">
        <div class="list-info">
          <h3>{{ list.name }}</h3>
          <div class="list-categories">
            <span class="category-label">Categorias:</span>
            <span class="category-names">{{
              getCategoryNames(list.categories)
            }}</span>
          </div>
          <div class="list-date">
            <span
              >Criada em:
              {{ list.createdAt.toDate() | date : "dd/MM/yyyy" }}</span
            >
          </div>
        </div>
        <div class="list-actions">
          <button
            class="action-button edit"
            title="Editar lista"
            (click)="editList(list)"
          >
            <img src="./assets/icon/edit.svg" alt="Editar" width="20px" />
          </button>
          <button
            class="action-button visibility"
            title="Ocultar lista"
            (click)="toggleVisibility(list)"
          >
            @if(list.isVisible) {
            <img src="./assets/icon/eye.svg" alt="Visibilidade" width="20px" />
            } @else {
               <img src="./assets/icon/eye-slash.svg" alt="Visibilidade" width="20px" />
            }
          </button>
          <button
            class="action-button delete"
            title="Deletar lista"
            (click)="deleteList(list)"
          >
            <img src="./assets/icon/delete.svg" alt="Deletar" width="20px" />
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>

@if(showEditListModal) {
@if (selectedList) {
<div class="edit-modal-container" @fadeInOut>
  <form #form="ngForm" action="" (ngSubmit)="updateList(selectedList)">
    <div class="edit-modal-header">
      <h2>Editar lista</h2>
      <button (click)="closeEditModal()" type="button">
        <img src="./assets/icon/exit.svg" alt="" width="18px" />
      </button>
    </div>
    <div class="edit-modal-content">
      <label>Nome</label>
      <input type="text" name="name" [(ngModel)]="selectedList.name" required maxlength="20"/>

      <label>Selecione uma categoria</label>
      <div class="category-selector">
        @for (cat of categories; track cat.id) {
        <div
          class="category-item"
          [class.selected]="selectedList.categories.includes(cat.id)"
          (click)="selectedCategory(selectedList, cat.id)"
        >
          <img
            [src]="cat.icon"
            class="category-icon"
            alt="{{ cat.displayName }}"
          />
          <span class="category-name">{{ cat.displayName }}</span>
        </div>
        }
      </div>
    </div>
    <div class="edit-modal-footer">
      <button type="button" (click)="closeEditModal()">Cancelar</button>
      <button type="submit" [disabled]="!isFormValid(selectedList)">Atualizar</button>
    </div>
  </form>
</div>
}
}
