<div class="goal-card" [ngStyle]="{ 'background-color': rgbaCatColor }" (click)="openModal()">
  <div
    class="goal-category-banner"
    [ngStyle]="{
      '--catIcon': 'url(' + category?.icon + ')'
    }"
  ></div>

  <div class="goal-content">
    <div class="goal-name">{{ goal.name }}</div>
    @if (goal.state) {
    <div
      class="goal-status neutral"
    >
      <div
        class="bola"
        [ngStyle]="{ 'background-color': getProgressColor(
            calculateProgress()
          ) }"
      ></div>
      {{ translateStatus() }}: {{ calculateProgress() }}%
    </div>
    }

    <div class="goal-progress-bar">
      <div
        class="goal-progress-fill"
        [ngStyle]="{
          'width.%': calculateProgress(),
          'background-color': getProgressColor(
            calculateProgress()
          )
        }"
      ></div>
    </div>

    <div class="goal-info-row">Unidade: {{ goal.progressValueType }}</div>
    <div class="goal-info-row">
      Progresso: {{ goal.progressValue }} / {{ goal.targetValue }}
    </div>
    <div class="goal-info-row">Recompensa: Não há</div>

    <div class="goal-footer">
      @if (goal?.createdAt) {
      <div class="date">
        <span
          >Criada em: {{ goal.createdAt.toDate() | date : "dd-MM-yyyy" }}</span
        >
        @if (goal.hasEndDate) {
        <span>Prazo final: {{ goal.endDate | date : "dd-MM-yyyy" }}</span>
        } @else {
        <span>Prazo final: Não há</span>
        }
      </div>
      }
      <button class="add-progress-btn" (click)="onAddProgressClick($event)">
        + Progresso
      </button>
    </div>
  </div>
</div>
@if (showGoalModal) {
<div class="goal-modal-backdrop" (click)="closeModal()"></div>

<div class="goal-modal">
  <div class="goal-modal-header">
    <h2>{{ goal.name }}</h2>
    <button class="close-btn" (click)="closeModal()">✕</button>
  </div>

  <div class="goal-modal-swiper">
    <swiper-container
      slides-per-view="1"
      loop="false"
      pagination="true"
      space-between="16"
      class="swiper"
    >
      <swiper-slide>
        <div class="slide-content">Slide 1 – Detalhes da meta</div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">Slide 2 – Estatísticas</div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">Slide 3 – Opções</div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
}


