// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-item-border-color: var(--ion-background-color-step-200);
    --ion-color-primary: rgb(242, 244, 248);
    --ion-color-secondary: #0C2340;
    --ion-color-tertiary: #E0004D;
  }
  
  /* This sets a different background and item background for the default theme on ios */
  :root.ios {
    --ion-background-color: var(--ion-background-color-step-50, rgb(242, 244, 248)

    );
    --ion-toolbar-background: var(--ion-background-color);
    --ion-item-background: #fff;
  }
  
  /* This sets a different background and item background for the default theme on md */
  :root.md {
    --ion-background-color: var(--ion-background-color-step-100, rgb(242, 244, 248)
    );
    --ion-toolbar-background: var(--ion-background-color);
    --ion-item-background: #fff;
  }
  
  /* This sets a different item background when dark mode is enabled on ios and md */
  .ion-palette-dark.ios,
  .ion-palette-dark.md {
    --ion-item-background: rgb(7, 15, 29);
  }

