<div class="modal-container">
  <div class="modal-header">
    <h2>Criar lista</h2>
    <button (click)="closeModal()">X</button>
  </div>

  <form action="" (ngSubmit)="createList()">
    <label>Nome</label>
    <input type="text" name="name" [(ngModel)]="habitList.name" required />

    <label>Selecione uma categoria (opcional)</label>
    <div class="cat-checkboxes">
      @for (cat of categories; track cat) {
        <label>
      <input
        type="checkbox"
        name="name"
        [value]="cat.id"
        (change)="toggleCategory(cat.id)"
        [checked]="habitList.categories.includes(cat.id)"
        required
      />
      {{ cat.displayName }} </label>}
      
    </div>

    <div class="modal-footer">
      <button type="button" (click)="closeModal()">Cancelar</button>
      <button type="submit">Criar</button>
    </div>
  </form>
</div>
