<ion-content>
  <ion-grid class="grid-container">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <div class="login">
          <header>
            <h3>HabitTracker</h3>
          </header>
          <div class="text-container">
            <h1>Seja Bem Vindo</h1>
            <p>Entre com seu email e senha para continuar.</p>
          </div>
          <div class="input-container">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu email"
                [(ngModel)]="email"
              />
            </div>
            <label for="password">Senha</label>
            <div class="input-wrapper">
              <input
                id="password"
                name="password"
                placeholder="Digite sua senha"
                [type]="passwordFieldType"
                [(ngModel)]="password"
              />
              <app-eye-toogle
                class="toggle-icon"
                [isVisible]="isVisible"
                (isVisibleChange)="togglePasswordVisibility()"
              ></app-eye-toogle>
            </div>
            <a [routerLink]="'/reset-password'">Esqueceu a Senha?</a>
          </div>
          <button (click)="onLogin()">Entrar</button>
          <div class="text-container">
            <p>
              Não possui uma conta? <a [routerLink]="'/signup'">Cadastre-se</a>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
