ion-content {
    .grid-container {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .login {
        height: min-content;
        width: 500px;
        background-color: white;
        border-radius: 20px;
        padding: 3rem 4rem;
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);

        h1 {
            font-family: poppinsBold;
            font-size: 25px;
        }

        a {
            color: rgb(224, 0, 77);
            text-decoration: none;
            cursor: pointer;
        }

        button {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
        }

        .btn-login {
            background-color: rgb(224, 0, 77);
            color: #ffffff;

            &:hover {
                background-color: rgb(209, 0, 73);
            }
        }

        header {
            padding-bottom: 0.5rem;
            display: flex;
            justify-content: center;

            h3 {
                font-family: poppinsExtraBold;
                font-size: 35px;
                color: rgb(224, 0, 77);
            }
        }

        .text-container {
            text-align: center;
            margin-top: 1rem;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            padding: 1rem 0 1rem 0;
            gap: 15px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .input-wrapper {
                input {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #d1d5db;
                    border-radius: 5px;
                    background-color: white;
                    padding-right: 40px;
                }
                input::placeholder {
                    font-family: poppinsMedium;
                    font-size: 13;
                }

                input:focus {
                    background-color: white;
                }

                .toggle-icon {
                    position: absolute;
                    right: 13px;
                    top: 53.4%;
                    transform: translateY(100%);
                    font-size: 22px;
                    cursor: pointer;
                    color: #666;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .login {
            height: 100vh;
            width: 100vw;
            border-radius: 0;
            padding: 5rem 2rem;

            header {
                padding-bottom: 3rem;
            }
        }
    }

    .btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ccc;
        margin-top: 1rem;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .line-gray {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #e5e7eb;
        margin-top: 1.5rem;
    }
}
