<ion-content>
  <div class="app-container">
    <app-menu></app-menu>

    <div class="main-container">
      <app-header></app-header>

      <main class="page-content">
        <div class="dashboard">

          <div class="dashboard-top">
            <section class="daily-panel">
              <app-daily-summary></app-daily-summary>
            </section>

            <section class="calendar-panel">
              <app-dashboard-day-swiper></app-dashboard-day-swiper>
            </section>
          </div>

          <div class="dashboard-bottom">
            <section class="goal-panel">
              <app-dashboard-goals></app-dashboard-goals>
            </section>

            <section class="stats-panel">
              <app-dashboard-stats></app-dashboard-stats>
            </section>
          </div>

        </div>
      </main>
    </div>
  </div>
</ion-content>
