ion-content {
    .dashboard .top-cards,
    .bottom-cards {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        height: auto;
    }

    .dashboard .top-cards {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .card {
        background-color: #ffffff;
        border-radius: 8px;
    }

    .habit {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 40%;
        height: 100%;

        .motivational-card {
            background-color: rgb(0, 0, 0);
            width: 100%;
            flex: 1.5;
            padding: 2rem;
            box-sizing: border-box;
            border-radius: 15px;
        }

        .habit-card {
            background-color: aquamarine;
            width: 100%;
            flex: 1;
            padding: 1.5rem;
            box-sizing: border-box;
            border-radius: 15px;
        }
    }

    .calendar {
        width: 60%;
        padding: 2rem;
                   min-width: 480px;

        app-dashboard-day-swiper {
            width: 100%;
            overflow-x: hidden;
            min-width: 440px;
        }
    }

    .goal {
        display: flex;
        flex-direction: column;
        width: 60%;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 20px;
            }

            a {
                font-family: poppinsSemiBold;
                color: #333333;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .stats {
        width: 40%;
    }

}
