@if (!(menuService.isMobile$ | async)) {
<nav class="sidebar-desktop" [class.closed]="!(menuService.menuOpen$ | async)">
  <ul>
    <li>
      @if (menuService.menuOpen$ | async) {
      <span class="logo">HabitTracker</span>
      }
      <button class="toggle-btn" (click)="toggleSidebarDesktop()">
        <img
          src="./assets/icon/arrow-left.svg"
          [class.rotated]="!(menuService.menuOpen$ | async)"
          alt="toggle icon"
        />
      </button>
    </li>
    <li [ngClass]="{ active: isRouteActive('/home') }">
      <a routerLink="/home"
        ><img src="./assets/icon/home.png" /><span class="label"
          >Início</span
        ></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/habit') }">
      <a routerLink="/habit"
        ><img src="./assets/icon/leaf.png" aria-label="Novo chat"/><span class="label"
          >Hábitos</span
        ></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/goals') }">
      <a routerLink="/goals"
        ><img src="./assets/icon/red-flag.png" /><span class="label"
          >Metas</span
        ></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/help') }">
      <a routerLink="/help"
        ><img src="./assets/icon/question.png" /><span class="label"
          >Ajuda</span
        ></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/settings') }">
      <a routerLink="/settings"
        ><img src="./assets/icon/cog-wheel.png" /><span class="label"
          >Configurações</span
        ></a
      >
    </li>
  </ul>
</nav>
} @if (menuService.isMobile$ | async) {
<nav class="sidebar-mobile" [class.open]="menuService.menuOpen$ | async">
  <ul>
    <li class="close-btn" (click)="close()">&times;</li>
    <li [ngClass]="{ active: isRouteActive('/home') }">
      <a routerLink="/home"
        ><img src="./assets/icon/home.png" /><span class="label">Início</span></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/habit') }">
      <a routerLink="/habit"
        ><img src="./assets/icon/leaf.png" /><span class="label">Hábitos</span></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/goals') }">
      <a routerLink="/goals"
        ><img src="./assets/icon/red-flag.png" /><span class="label">Metas</span></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/help') }">
      <a routerLink="/help"
        ><img src="./assets/icon/question.png" /><span class="label">Ajuda</span></a
      >
    </li>
    <li [ngClass]="{ active: isRouteActive('/settings') }">
      <a routerLink="/settings"
        ><img src="./assets/icon/cog-wheel.png" /><span class="label">Configurações</span></a
      >
    </li>
  </ul>
</nav>

@if (menuService.menuOpen$ | async) {
<div class="menu-overlay" (click)="close()"></div>
} }
