<div class="habit-card" @fadeInOut [class.expanded]="showDetails">
  <div class="habit-main">
    <div class="dinamic-status" title="Concluído">
      @if(getTodayState() === "in_progress") {
      <button class="status-button" (click)="markHabit()">
        <img @fadeInOut src="./assets/icon/circle.png" width="30px" alt="" />
      </button>
      } @if(getTodayState() === "completed") {
      <button class="status-button" (click)="markHabit()">
        <img @fadeInOut src="./assets/icon/check.png" width="30px" alt="" />
      </button>
      } @if(getTodayState() === "failed") {
      <button class="status-button" (click)="markHabit()">
        <img @fadeInOut src="./assets/icon/close.png" width="30px" alt="" />
      </button>
      }
    </div>

    <div class="name">
      <span>{{ habit?.name }}</span>
    </div>

    @if (category) {
    <div class="category">
      <div
        [title]="category.displayName"
        class="icon-wrapper"
        [ngStyle]="{ backgroundColor: category.color }"
      >
        <img [src]="category.icon" [alt]="category.displayName" />
      </div>
    </div>
    } @if(getTodayState() === "in_progress") {
    <div class="status">
      <span class="in_progress" @fadeInOut>Em progresso</span>
    </div>
    } @if(getTodayState() === "completed") {
    <div class="status">
      <span class="completed" @fadeInOut>Completo</span>
    </div>
    } @if(getTodayState() === "failed") {
    <div class="status">
      <span class="failed" @fadeInOut>Falhado</span>
    </div>
    }

    <div class="days-mobile">
      <app-habit-days
        [logs]="logs"
        [habit]="habit"
        [habitId]="habit.id"
        [habitRule]="habit.timesTarget?.rule || habit.timeTarget?.rule"
        [days]="days"
        (logUpdated)="reloadLogs()"
      ></app-habit-days>
    </div>

    <div class="priority">
      @if (habit.priority === 'high') {
      <span class="priority" @fadeInOut>Alta</span>
      } @if (habit.priority === 'medium-high') {
      <span class="priority" @fadeInOut>Média-Alta</span>
      } @if (habit.priority === 'medium') {
      <span class="priority" @fadeInOut>Média</span>
      } @if (habit.priority === 'low') {
      <span class="priority" @fadeInOut>Baixa</span>
      }
    </div>

    <div class="habit-actions">
      <button class="delete-button" title="Deletar" (click)="emitDelete()">
        🗑
      </button>
      <button class="expand-button" title="Ver mais" (click)="toggleDetails()">
        ⤢
      </button>
      <button class="edit-button" title="Editar hábito">⋮</button>
    </div>
  </div>
  <div
    class="details"
    [@expandCollapse]="showDetails ? 'expanded' : 'collapsed'"
  >
    <swiper-container
      slides-per-view="1"
      loop="false"
      pagination="true"
      space-between="16"
      class="swiper"
    >
      <swiper-slide>
        <div class="slide-content">
          <div>Slide 1 - Detalhes do hábito</div>

          <div class="days-desktop">
            <app-habit-days
              [logs]="logs"
              [habit]="habit"
              [habitId]="habit.id"
              [habitRule]="habit.timesTarget?.rule || habit.timeTarget?.rule"
              [days]="days"
              (logUpdated)="reloadLogs()"
            ></app-habit-days>
          </div>

          <div class="summary">
            Concluído: 57% na semana
            <button class="calendar-button">📅 Ver calendário</button>
          </div>

          <div class="created-date">Criado em: 12/06/2025</div>

          @if (habit.description) {
          <div class="description">Descrição: {{ habit.description }}</div>
          }
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <div>Slide 2 - Estatística</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
