ion-content {
    main {
        padding: min(30px, 7%);
    }

    .create-cards {
        display: grid;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        border-bottom: 1px solid #e5e7eb;
        padding-bottom: 2rem;
    }

    .habit-container {
        margin-top: 1rem;
    }

    .habit-header,
    .habit-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .habit-header h2 {
        font-family: poppinsSemiBold;
        font-size: 20px;
    }

    .filter {
        display: flex;
        background-color: transparent;
        align-items: center;
        border: 1px solid #d3d3d3;
        padding: 8px;
        border-radius: 7px;
        gap: 5px;
        transition: 0.3s;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #e6e9ec;
        }
        
        
        &:active {
            transform: scale(0.94);
        }
    }

    .habit-list-tabs {
        display: flex;
        gap: 1rem;
        background: #e5e7eb;
        padding: 5px;
        border-radius: 8px;


    }

    .habit-list-tabs button {
        background: none;
        padding: 6px 12px;
        border-radius: 5px;
        background: transparent;
        border: none;
        font-size: 14px;
        color: #6b7280;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            background: #d3d3d3;
        }

        &.active {
            background: white;
            color: #333333;
            font-weight: 600;
            box-shadow: 0 0 0 1px #d1d5db;
        }

        &.new-list {
            background-color: crimson;
            border-radius: 5px;
            color: #e5e7eb;
            font-weight: 600;
            transition:
                background-color 0.2s,
                color 0.2s,
                transform 0.2s;

            &:hover {
                transform: scale(1.03);
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }

    .search-bar {
        display: flex;
        align-items: center;
        background-color: rgb(242, 244, 248);
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        padding: 7px;
        gap: 5px;

        input {
            background-color: rgb(242, 244, 248);
            outline: none;
            border: none;
            width: 100%;
        }
    }

    .habit-list-cards {
        ul li {
            display: flex;
            flex-direction: row;
            list-style: none;
        }
    }

    .list-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9f9;
        padding: 12px 20px;
        border-radius: 8px;
        font-family: poppinsBold;
        font-size: 14px;
        color: #666;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        gap: 16px;
        margin-top: 2rem;

        .header-item {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .name {
            flex: 3.5;
            padding-left: 27px;
        }

        .category {
            flex: 0.7;
            text-align: left;

        }

        .status {
            flex: 0.7;
            text-align: left;
        }

        .priority {
            flex: 0.7;
            text-align: left;
            padding-right: 56px;
        }
    }
}

// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .modal {
//   background: white;
//   padding: 2rem;
//   border-radius: 8px;
//   width: 90%;
//   max-width: 500px;
// }
