ion-content {
    main {
        padding: min(30px, 7%);
        
    }

    .container {
        border: 1px solid #00000050;
        border-radius: 1em;
        margin-bottom: 20px;
        padding: min(3em, 15);

        p {
            color: #161616;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        h2, p {
            margin-top: 1em;
        }
    }
}
