<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <app-menu></app-menu>
      </ion-col>

      <ion-col>
        <main>
          <app-header></app-header>
          <section>
            <app-create-habit-modal
              *ngIf="showHabitModal"
              (close)="closeModal()"
              @fadeInOut
            />
            <app-create-list-modal
              *ngIf="showListModal"
              (close)="closeModal()"
              @fadeInOut
            />
            <div class="create-cards">
              <app-create-card
                [title]="'Novo Hábito'"
                [imagePath]="'./assets/icon/post_add_250dp_FFFFFF.png'"
                (click)="openHabitModal()"
              >
              </app-create-card>
              <app-create-card
                [title]="'Nova Lista'"
                [imagePath]="'./assets/icon/create_new_folder_50dp_FFFFFF.png'"
                (click)="openListModal()"
              >
              </app-create-card>
            </div>
          </section>
          <section>
            <div class="habit-container">
              <div class="habit-header">
                <h2>Lista de Hábitos</h2>
                <button class="filter">
                  <img src="./assets/icon/tune_100dp_434343.png" alt="" />
                  <p>Filters</p>
                </button>
              </div>
              <div class="habit-toolbar">
                <nav class="habit-list-tabs">
                  <button
                    *ngFor="let tab of tabs"
                    [class.active]="activeTab === tab.name"
                    (click)="setActive(tab.name)"
                  >
                    {{ tab.name }}
                  </button>
                  <button class="new-list" (click)="openListModal()">
                    + Nova lista
                  </button>
                </nav>
                <div class="search-bar">
                  <img
                    src="./assets/icon/search_100dp_434343.png"
                    alt=""
                    width="25px"
                  />
                  <input type="text" placeholder="Buscar hábito... " />
                </div>
              </div>
              <div class="habit-list-cards">
                <div class="list-header">
                  <div class="header-item name">Nome</div>
                  <div class="header-item category">Categoria</div>
                  <div class="header-item status">Status</div>
                  <div class="header-item priority">Prioridade</div>
                </div>

                @if (activeTab === 'Ver tudo') { @if (!loading) { @if
                (hasHabits) {
                <ul class="habit-list">
                  <li *ngFor="let habit of habits">
                    <app-habit-card
                      (delete)="deleteHabit($event)"
                      (mark)="completeHabit($event)"
                      [habit]="habit"
                      style="width: 100%"
                    ></app-habit-card>
                  </li>
                </ul>
                } @else {
                <div class="no-habits">
                  <p>Você ainda não criou hábitos.</p>
                </div>
                }}}

              </div>
            </div>
            <div class="pagination">
              <button>1</button>
            </div>
          </section>
        </main>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
