<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <app-menu></app-menu>
      </ion-col>

      <ion-col>
        <main>
          <app-header></app-header>
          <section>
            <app-create-habit-modal *ngIf="showModal" (close)="closeModal()" @fadeInOut/>
            <div class="create-cards">
              <app-create-card
                [title]="'Novo Hábito'"
                [imagePath]="'./assets/icon/post_add_250dp_FFFFFF.png'"
                (click)="openModal()"
              >
              </app-create-card>
              <app-create-card
                [title]="'Nova Lista'"
                [imagePath]="'./assets/icon/create_new_folder_50dp_FFFFFF.png'"
              >
              </app-create-card>
            </div>
          </section>
          <section>
            <div class="habit-container">
              <div class="habit-header">
                <h2>Lista de Hábitos</h2>
                <button class="filter">
                  <img src="./assets/icon/tune_100dp_434343.png" alt="" />
                  <p>Filters</p>
                </button>
              </div>
              <div class="habit-toolbar">
                <nav class="habit-list-tabs">
                  <button
                  *ngFor="let tab of tabs"
                  [class.active]="activeTab === tab"
                  (click)="setActive(tab)"
                >
                  {{ tab }}
                </button>
                  <button class="new-list">+ Nova lista</button>
                </nav>
                <div class="search-bar">
                  <img
                    src="./assets/icon/search_100dp_434343.png"
                    alt=""
                    width="25px"
                  />
                  <input type="text" placeholder="Buscar hábito... " />
                </div>
              </div>
              <div class="habit-list-cards">
                <div class="list-header">
                  <div class="header-item name">Nome</div>
                  <div class="header-item category">Categoria</div>
                  <div class="header-item status">Status</div>
                  <div class="header-item priority">Prioridade</div>
                </div>
                <ul class="habit-list">
                  <li>
                    <app-habit-card style=" width: 100%"></app-habit-card>
                  </li>
                </ul>
              </div>
            </div>
            <div class="pagination">
              <button>1</button>
            </div>
          </section>
        </main>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
