<!-- <div (click)="toggleMenu()" class="colapsed-sidebar" [class.open]="isMenuOpen">
  <div class="bar">
    <div class="logo">
      <img src="./assets/images/logo-no-name.png" alt="" />
      <h1 *ngIf="isMenuOpen">HabitTracker</h1>
    </div>
    <nav class="main-icons">
      <ul>
        <li>
          <ion-icon name="home-outline" size="large" color="primary"></ion-icon>
          <span *ngIf="isMenuOpen">Início</span>
        </li>
        <li>
          <ion-icon name="leaf-outline" size="large" color="primary"></ion-icon>
          <span *ngIf="isMenuOpen">Hábitos</span>
        </li>
        <div class="divisor"></div>
        <li>
          <div class="category-container">
            <ion-icon
              name="folder-outline"
              size="large"
              color="primary"
            ></ion-icon>

            <span *ngIf="isMenuOpen">Categorias</span>
            <button *ngIf="isMenuOpen">dada</button>
          </div>
        </li>
        <div class="divisor"></div>
        <li>
          <ion-icon name="flag-outline" size="large" color="primary"></ion-icon>
          <span *ngIf="isMenuOpen">Metas</span>
        </li>
      </ul>
    </nav>
    <nav class="aline-icons">
      <ul>
        <li>
          <ion-icon name="help-outline" size="large" color="primary"></ion-icon>
          <span *ngIf="isMenuOpen">Ajuda</span>
        </li>
        <li>
          <ion-icon name="cog-outline" size="large" color="primary"></ion-icon>
          <span *ngIf="isMenuOpen">Configurações</span>
        </li>
      </ul>
    </nav>

    <div class="profile">
      <div class="user-img">
        <img src="./assets/images/pexels-aliatiabi-2075520.png" />
        <span *ngIf="isMenuOpen">Nome</span>
        <span *ngIf="isMenuOpen">email</span>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class="sidebar" >
  <button (click)="toggleMenu()" class="close-button">x</button>
  <ul>
    <li><a href="#">Início</a></li>
    <li><a href="#">Hábitos</a></li>
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Metas</a></li>
    <li><a href="#">Perfil</a></li>
    <li><a href="#">Configurações</a></li>
  </ul>
</div> -->

<nav id="sidebar" [ngClass]="{'close': isMenuOpen}">
  <ul>
    <li>
      <span class="logo">HabitTracker</span>
      <button (click)="toggleSidebar()" id="toggle-btn">
        <ion-icon name="menu-outline" size="large" color="primary"></ion-icon>
      </button>
    </li>
    <li class="active">
      <a>
        <img src="./assets/icon/home.png" alt="">
        <span>Início</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icon/leaf.png" alt="">
        <span>Hábitos</span>
      </a>
    </li>
    <li>
      <button class="dropdown-btn" (click)="showSubMenu = !showSubMenu">
        <img src="./assets/icon/folder.png" alt="">
        <span>Categorias</span>
        <ion-icon
          name="chevron-down-outline"
          size="large"
          color="primary"
        ></ion-icon>
      </button>
      <ul
        class="sub-menu"
        [ngClass]="{ 'show': showSubMenu, 'sub-menu': !showSubMenu }"
      >
        <div>
          <li><a href="#">Estudos</a></li>
          <li><a href="#">Saúde</a></li>
          <li><a href="#">Hábitos Ruins</a></li>
        </div>
      </ul>
    </li>
    <li>
      <a href="">
        <img src="./assets/icon/red-flag.png" alt="">
        <span>Metas</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icon/question.png" alt="">
        <span>Ajuda</span>
      </a>
    </li>
    <li>
      <a>
        <img src="./assets/icon/cog-wheel.png" alt="">
        <span>Configurações</span>
      </a>
    </li>
  </ul>
</nav>
