#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: #2f496e;
    border-right: 1px solid #f2f4f894;

    position: sticky;
    top: 0;
    align-self: start;

    overflow: hidden;

    img {
        width: 30px;
    }
}

#sidebar.close {
    padding: 5px;
    width: 70px;
    text-wrap: nowrap;

    span {
        display: none;
    }

    .dropdown-btn ion-icon:last-child {
        display: none;
    }
}

#sidebar ul {
    list-style: none;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-family: poppinsBold;
    }
}

#sidebar ul li.active a span{
    color: #0C2340 ;
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {

    padding: 0.85em;
    text-decoration: none;
    color: #e6e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

#sidebar a span, #sidebar .dropdown-btn span {
    flex-grow: 1;
    color: #e6e6eb;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    transition: 0.5s;

}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: #e0004e;
    cursor: pointer;
    border-radius: 1em;
}

#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;

    > div{
        overflow: hidden;
    }
}

.show {
    grid-template-rows: 1fr;
    display: flex;
    justify-content: flex-start;
}


#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    &:hover {
        background-color: #e0004e;
        transition: 0.3s;
    }
}

.sidebar {
    width: 250px;
    background: #2f496e;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.menu-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2000;
}

.sidebar.mobile {
    transform: translateX(-100%);
}

.sidebar.mobile.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.menu-desktop {
    display: block;
  }
  
  .menu-mobile {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-desktop {
      display: none ;
    }
  
    .menu-mobile {
      display: block;
    }
  }