<section class="daily-summary">
  <div class="daily-header">
    <p class="daily-date">{{ todayDate }}</p>
    <h2 class="daily-quote">
      “Cada pequeno hábito molda uma grande versão de você.”
    </h2>
  </div>

  <div class="daily-graphs">
    <div class="graph-card">
      <h3>Hábitos concluídos</h3>
      <div class="progress-display">
        <div class="progress-circle">
          <div
            class="circle-progress"
            [ngStyle]="{
              background:
                'conic-gradient(from 0deg, ' +
                getProgressColor(calculateProgress(currentHabitValue, targetHabitValue)) +
                ' ' +
                calculateProgress(currentHabitValue, targetHabitValue) * 3.6 +
                'deg, #f0f0f0 0deg)'
            }"
          >
            <div class="circle-inner">
              <span class="progress-percentage"
                >{{currentHabitValue}}/{{targetHabitValue}}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="graph-card">
      <h3>Progresso das metas</h3>
      <div class="progress-display">
        <div class="progress-circle">
          <div
            class="circle-progress"
            [ngStyle]="{
              background:
                'conic-gradient(from 0deg, ' +
                getProgressColor(this.goalRate) +
                ' ' +
                this.goalRate * 3.6 +
                'deg, #f0f0f0 0deg)'
            }"
          >
            <div class="circle-inner">
              <span class="progress-percentage"
                >{{ goalRate }}%</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
